[flake8]
max-line-length = 210
extend-ignore = E203, W503, E303, E305, E712, F541
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    alembic/versions,
    */migrations/*
per-file-ignores =
    __init__.py:F401
    app/models/*.py:F821
    app/exporters/csv.py:F821
    app/tasks/webhook_tasks.py:F821
    app/exporters/html.py:E722
    app/main.py:F401
    app/routers/ingestion_sources.py:F401
    app/routers/webhooks_ingestion.py:F401
    app/tasks/ingestion_tasks.py:F401
